
{% for message in app.session.flashbag.get('info') %}         
    <div class="alert alert-info fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'oc.core.messageflash.info'|trans }}</strong> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('success') %}

    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'oc.core.messageflash.success'|trans }}</strong> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'oc.core.messageflash.warning'|trans }}</strong> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'oc.core.messageflash.error'|trans }}</strong> {{ message }}
    </div>
{% endfor %}