{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}Annonces - {{ parent() }}{% endblock %}

{% block sidebar %}

    <h4>Les annonces</h4>

    <ul class="nav nav-pills nav-stacked">

        <li><a href="{{ path('oc_platform_home') }}">Toutes les annonces</a></li>

        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
        {% endif %}

        {# <li><a href="{{ path('oc_platform_purge', {'days': 2}) }}">Purger les annonces</a></li> #}

    </ul>

    <br/>

    <h4>Les catégories</h4>
    
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('oc_platform_categories') }}">Toutes les catégories</a></li>
    </ul>

    {# <h4>Dernières annonces</h4>

    {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }} #}

{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Annonces</h1>

    <hr>

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}